*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header__title{
    font-size: 8vh;
    text-align: center;
    font-family: fantasy;
    color: gold;
    text-shadow: 1px 2px black;
}

.header__item{
    font-size: 4vh;
    font-family: fantasy;
    color: gold;
    text-shadow: 1px 2px black;
}

.header__item:hover{
    color: goldenrod !important;
    text-decoration-color: goldenrod !important;
    text-shadow: black !important;
}

.modal__start:hover{
    border-color: goldenrod !important;
    color: goldenrod !important;
}
.modal__x{
    background-color: gold !important;
}

.modal__x:hover{
    background-color: goldenrod !important;
}

.modal__label{
    width: 50px;
    font-family: fantasy;
    color: gold;
    text-shadow: 1px 2px black;
}

.modal__button{
    font-family: fantasy;
    color: gold;
    text-shadow: 1px 2px black;
    border-color: gold;
}

.main__item{
    text-align: center;
    font-family: fantasy;
    color: gold;
    text-shadow: 1px 2px black;
}
.main__item:hover{
    color: goldenrod !important;
    text-decoration-color: goldenrod !important;
    text-shadow: black !important;
}

.main__title{
    text-align: center;
    font-family: fantasy;
    color: gold;
    text-shadow: 1px 2px black;
}

.main__subtitle{
    font-family: fantasy;
    color: gold;
    text-shadow: 1px 2px black;
    text-decoration-line: underline;
}

.main__text{
    font-size: 2.5vh;
    font-family: fantasy;
    color: gold;
    text-shadow: 1px 2px black;
    text-indent: 10px;
}

.main__link{
    text-align: center;
    font-size: 2.5vh;
    font-family: fantasy;
    color: gold;
    text-shadow: 1px 2px black;
    text-decoration-line: underline;
}

.main__video{
    width: 270px;
    height: 163px;
}

.main__link:hover{
    color: goldenrod !important;
    text-decoration-color: goldenrod !important;
    text-shadow: black !important;
}

.form__row{
    display: flex;
    flex-direction: column;
}

.form__row--buttons{
    display: flex;
}

.footer{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.footer__social{
    display: flex;
    justify-content: space-around;
}

.footer__logo{
    border-radius: 7px;
    border-color: gold;
    border-style: double;
    box-shadow: 1px 2px black;
}

.footer__logo:hover{
    border-color: goldenrod;
}

.footer__map{
    padding: 1vh;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 751px) {
    .main__title{
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    .main__video{
        width: 454px;
        height: 258px;
    }
    .form{
        display: flex;
        flex-direction: column;
        gap: 10vh;
        width: 50vh;
    }
    .form__row{
        flex-direction: row;
        gap: 5vh;
    }
    .form__row--buttons{
        justify-content: flex-end;
    }
    .footer{
        position: fixed;
        bottom: 1vh;
        flex-direction:row;
        justify-content: space-between;
    }
    .footer__social{
        flex-direction: column;
    }
}
