* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__title {
  font-size: 8vh;
  color: gold;
  text-shadow: 1px 2px black;
  font-family: fantasy;
  text-align: center;
}

.header__item {
  font-size: 4vh;
  color: gold;
  text-shadow: 1px 2px black;
  font-family: fantasy;
  text-align: center;
}

.header__item:hover {
  color: goldenrod !important;
  -webkit-text-decoration-color: goldenrod !important;
          text-decoration-color: goldenrod !important;
  text-shadow: 1px 2px black !important;
}

.modal__start:hover {
  border-color: goldenrod !important;
  color: goldenrod !important;
}

.modal__x {
  background-color: gold !important;
}

.modal__x:hover {
  background-color: goldenrod !important;
}

.modal__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__row .modal__label {
  width: 50px;
  color: gold;
  text-shadow: 1px 2px black;
  font-family: fantasy;
  text-align: center;
}

.modal__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__buttons .modal__button {
  color: gold;
  text-shadow: 1px 2px black;
  font-family: fantasy;
  text-align: center;
  border-color: gold;
}

.main__title, .main__item, .main__subtitle, .main__text, .main__link {
  color: gold;
  text-shadow: 1px 2px black;
  font-family: fantasy;
  text-align: center;
}

.main__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1vh;
}

.main__item:hover {
  color: goldenrod !important;
  -webkit-text-decoration-color: goldenrod !important;
          text-decoration-color: goldenrod !important;
  text-shadow: 1px 2px black !important;
}

.main__subtitle {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.main__text {
  font-size: 2.5vh;
  text-indent: 10px;
}

.main__video {
  width: 270px;
  height: 163px;
}

.main__link {
  font-size: 2.5vh;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.main__link:hover {
  color: goldenrod !important;
  -webkit-text-decoration-color: goldenrod !important;
          text-decoration-color: goldenrod !important;
  text-shadow: 1px 2px black !important;
}

.section__text {
  font-size: 2.5vh;
  text-indent: 10px;
  margin-top: 2vh;
  color: gold;
  text-shadow: 1px 2px black;
  font-family: fantasy;
  text-align: center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1vh;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__social .footer__logo {
  border-radius: 7px;
  border-color: gold;
  border-style: double;
  -webkit-box-shadow: 1px 2px black;
          box-shadow: 1px 2px black;
}

.footer__social .footer__logo:hover {
  border-color: goldenrod;
}

.footer__map {
  padding: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 751px) {
  .main__title, .main__item, .main__subtitle, .main__text, .main__link {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  .main__video {
    width: 454px;
    height: 258px;
  }
  .section__text {
    font-size: 2vh;
  }
  .modal__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 5vh;
  }
  .modal__buttons {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .footer {
    position: fixed;
    bottom: 1vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */