@import "./variables";

.footer{
    @include column;
    gap: map-get($sizes, xs);
    
    &__social{
        display: flex;
        justify-content: space-around;
        
        .footer__logo{
            border-radius: 7px;
            border-color: $color-main;
            border-style: double;
            box-shadow: $shadow;
            
            &:hover{
                border-color: $color-hover;
            }
        }
    }
    
    &__map{
        padding: map-get($sizes, xs);
        display: flex;
        justify-content: center;
    }
}


