@import "./variables";

.footer{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    
    &__social{
        display: flex;
        justify-content: space-around;
        
        .footer__logo{
            border-radius: 7px;
            border-color: $color-main;
            border-style: double;
            box-shadow: $shadow;
            
            &:hover{
                border-color: $color-hover;
            }
        }
    }
    
    &__map{
        padding: 1vh;
        display: flex;
        justify-content: center;
    }
}


