@import "./variables";

.header__title{
    font-size: map-get($sizes, xxl);
    @include font;
}

.header__item{
    font-size: map-get($sizes, l);
    @include font;
    
    &:hover{
        color: $color-hover !important;
        text-decoration-color: $color-hover !important;
        text-shadow: $shadow !important;
    }
}