@import "./variables";

.main__title{
    @include font;
}

.main__item{
    @include column;
    align-items: center;
    gap: map-get($sizes, xs);
    @extend .main__title;
    
    &:hover{
        color: $color-hover !important;
        text-decoration-color: $color-hover !important;
        text-shadow: $shadow !important;
    }
}

.main__subtitle{
    @extend .main__title;
    text-decoration-line: underline;
}

.main__text{
    font-size: map-get($sizes, m);
    @extend .main__title;
    text-indent: 10px;
}

.main__video{
    width: 270px;
    height: 163px;
}

.main__link{
    @extend .main__title;
    font-size: map-get($sizes, m);
    text-decoration-line: underline;
    
    &:hover{
        color: $color-hover !important;
        text-decoration-color: $color-hover !important;
        text-shadow: $shadow !important;
    }
}