@import "./variables";

.modal__start:hover{
    border-color: $color-hover !important;
    color: $color-hover !important;
}

.modal__x{
    background-color: $color-main !important;
    
    &:hover{
        background-color: $color-hover !important;
    }
}
.modal__row{
    @include column;
    
    .modal__label{
        width: 50px;
        @include font;
    }
}

.modal__buttons{
    display: flex;
    
    .modal__button{
        @include font;
        border-color: $color-main;
    }
}


