@media screen and (min-width: 751px) {
    .main__title{
        margin-top: map-get($sizes, xl);
        margin-bottom: map-get($sizes, xl);
    }
    
    .main__video{
        width: 454px;
        height: 258px;
    }

    .section__text{
        font-size: map-get($sizes, s);
    }

    .modal__row{
        flex-direction: row;
        gap: map-get($sizes, xl);
    }

    .modal__buttons{
        justify-content: flex-end;
    }

    .footer{
        position: fixed;
        bottom: map-get($sizes, xs);
        flex-direction:row;
        justify-content: space-between;
        
        &__social{
            flex-direction: column;
        }
    }
}