$color-main: gold;

$color-hover: goldenrod;

$shadow: 1px 2px black;

$text-center: center;

$fantasy: fantasy;


$sizes: (
    xs: 1vh,
    s: 2vh,
    m: 2.5vh,
    l: 4vh,
    xl: 5vh,
    xxl: 8vh
);


@mixin font {
    color: $color-main;
    text-shadow: $shadow;
    font-family: $fantasy;
    text-align: $text-center;
}

@mixin column {
    display: flex;
    flex-direction: column;
}

